<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/managerView.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    
    <div class="container my-5 px-3">
        <h1 class="text-center mb-4">Manager Dashboard</h1>
        
        <div class="card mb-4">
            <div class="card-header text-white">
                <h2 class="h5 mb-0">Products</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                            <tr>
                                <td><%= product.name %></td>
                                <td><%= product.quantity %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div style="text-align: right;">
                    <form action="/products" method="GET" style="display:inline;">
                        <button type="submit" class="btn btn-lg">more products details</button>
                    </form>
                </div>
            </div>
        </div>
        

        <div class="card mb-4">
            <div class="card-header  text-white">
                <h2 class="h5 mb-0">Customers</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% customers.forEach(customer => { %>
                            <tr>
                                <td><%= customer.username %></td>
                                <td><%= customer.email %></td>
                            </tr>
                        <% }) %>
                    </tbody>                    
                </table>
                <div style="text-align: right;">
                    <form action="/customers" method="GET" style="display:inline;">
                        <button type="submit" class="btn btn-lg">more customers detailes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <form action="/statistics" method="GET" style="display:inline;">
                <button type="submit" class="btn btn-lg">Go to Store Satistics</button>
        </form>
    </div>


    
</body>
</html>
