<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Manager</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Update Manager</h1>
            <form action="/managers/update/<%= manager._id %>" method="POST" class="border p-4 rounded shadow-sm bg-white">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username" value="<%= manager.username %>" required><br>
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" value="<%= manager.password %>" required><br>
                
                <button type="submit" class="btn btn-success">Update Customer</button>
            </form>
        </div>
    </div>
</body>
</html>
