<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Products</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container my-5">
        <h1 class="text-center mb-4">Search Product</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/products/results" method="GET" class="border p-4 rounded shadow-sm bg-white" id="search-form">
                    <div class="mb-3">
                        <label for="field" class="form-label">Select field:</label>
                        <select class="form-select" name="field" id="field" required>
                            <option selected="">Select a field</option>
							<option value="name">name</option>
							<option value="category">category</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="value" class="form-label">Search Value:</label>
                        <input type="text" name="value" id="value" class="form-control" placeholder="Enter search value" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-info text-white">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
