<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supplier List</title>
    <link rel="stylesheet" href="/css/supplier.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Supplier List</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th> 
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% suppliers.forEach(supplier => { %>
                        <tr>
                            <td><%= supplier._id %></td>
                            <td><%= supplier.name %></td>
                            <td>
                                <form action="/suppliers/edit/<%= supplier._id %>" method="GET" style="display:inline;">
                                    <button type="submit" class="btn btn-warning btn-sm">Update</button>
                                </form>
                                <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('<%= supplier._id %>')">Delete</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary mx-2" onclick="window.location.href='/suppliers/add'">Add New Supplier</button>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this supplier?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form id="deleteForm" method="POST" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function confirmDelete(supplierId) {
            $('#deleteForm').attr('action', `/supplier/${supplierId}?_method=DELETE`);
            $('#deleteModal').modal('show');
        }
    </script>
</body>
</html>
