body {
    background-color: #F8F5F0;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    color: #333; 
    margin-bottom: 20px; 
    font-size: 2.5em; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#search-form {
    text-align: center;
}
.form-container {
    max-width: 500px; 
    margin: 0 auto; 
    margin-top: 50px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
}